@page
@model IndexModel

@using Syncfusion.EJ2.Maps;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Home page";

    var titleStyle = new MapsFont
    {
        Size = "16px",
    };
}

<ejs-maps 
    id="maps" 
    centerPosition="Model.CenterPosition"
    format="n" 
    tooltipDisplayMode="Click"
    useGroupingSeparator="true" 
    zoomSettings="Model.ZoomSettings">
    @* load="window.onMapLoad" *@
    @* markerClick="window.markerClicked" *@
    @* tooltipDisplayMode="Click" *@

    @* <e-maps-titlesettings 
        alignment="@Syncfusion.EJ2.Maps.Alignment.Center" 
        text="Protaru Demo" 
        textStyle="titleStyle">
    </e-maps-titlesettings> *@

    @* <e-maps-annotations>
        <e-maps-annotation content="#annotation-template" x="0%" y="0%"></e-maps-annotation>
    </e-maps-annotations> *@

    <e-maps-layers>
        <e-maps-layer 
            layerType="Bing" 
            bingMapType="AerialWithLabel" 
            key="@Model.BingKey"
            markerClusterSettings="Model.ClusterSettings"
            markerSettings="Model.MarkerSettings">
        </e-maps-layer>
    </e-maps-layers>
</ejs-maps>

<div id="tooltip-template" style="display: none;">
	<div class="protaru-tooltip p-2">
        <h5 class="text-center">${nama}</h5>
        <p class="mb-0">Progress: ${progressCount}</p>
        <p class="mb-0">Perda: ${doneCount}</p>
        <a href="${link}" class="btn btn-primary btn-block p-0">Detail</a>
	</div>
</div>

@await Component.InvokeAsync("TindakLanjut", new { number = 1 })
@* <vc:tindak-lanjut number="1"></vc:tindak-lanjut> *@

<div id="annotation-template" style="display: none;">
</div>

<script>
    function markerClicked(args) 
    {
        x = args.x;
        y = args.y;
        @* $(".protaru-tooltip").attr("style", "position: absolute;"); *@
        $(".protaru-tooltip").html(
            '<h5 class="text-center">' + args.data.location + '</h5>' +
            '<h6 class="text-center">' + args.data.rtr + '</h6>' +
            '<p class="mb-0">Progress: ' + args.data.progress + '</p>' +
            '<p class="mb-0">Surat Rekom Gub: ' + args.data.rekomGub + '</p>' +
            '<p class="mb-0">Rapat Lintas Sektor: ' + args.data.linSek + '</p>' +
            '<p class="mb-0">Surat Persetujuan Substansi: ' + args.data.perSub + '</p>' +
            '<p class="mb-0">No. Perda: ' + args.data.perda + '</p>' +
            '<button onclick="linkClicked()" class="btn btn-primary btn-block p-0">Detail</a>'
        );
    }
</script>
