@page
@model IndexModel

@using Syncfusion.EJ2;
@using Syncfusion.EJ2.Maps;

@{
    ViewData["Title"] = "Home page";

    var marker = new List<MapsMarker>
    {
        new MapsMarker
        {
            Visible=true, 
            Template="#template", 
            DataSource=Model.MapsMarker
            @* Shape=MarkerType.Balloon, 
            LegendText="city",  *@
        }
    };

    var titleStyle = new MapsFont
    {
        Size = "16px",
    };
}

<ejs-maps 
    id="maps" 
    format="n" 
    useGroupingSeparator="true" 
    load="window.onMapLoad">

    <e-maps-titlesettings 
        alignment="@Syncfusion.EJ2.Maps.Alignment.Center" 
        text="Protaru Demo" 
        textStyle="titleStyle">
    </e-maps-titlesettings>

    <e-maps-zoomsettings 
        enable="true" 
        toolbars="Model.Toolbars" 
        pinchZooming="true" 
        shouldZoomInitially="true" 
        horizontalAlignment="Near">
    </e-maps-zoomsettings>

    <e-maps-layers>
        @* <e-maps-layer shapeData="ViewBag.world" markerClusterSettings="cluster"> *@
        <e-maps-layer 
            LayerType="OSM" 
            markerClusterSettings="Model.MapsMarkerClusterSettings">
            <e-layersettings-shapesettings fill="#C1DFF5"></e-layersettings-shapesettings>
            <e-layersettings-markers>
                <e-layersettings-marker 
                    visible="true" 
                    shape="Image" 
                    imageUrl="@Url.Content("~/ballon.png")"
                    height="20" 
                    width="20" 
                    animationDuration="0" 
                    tooltipSettings="Model.MapsTooltipSettings" 
                    dataSource="Model.MapsMarker">
                </e-layersettings-marker>
            </e-layersettings-markers>
        </e-maps-layer>
    </e-maps-layers>
</ejs-maps>

<div id="template" style="display: none;">
    <div>
        <div style="margin-left:8px;height:45px;width:120px;margin-top:-23px;">
            <label style="color:black;margin-left:15px;font-weight:normal;">\{\{\:city\}\}</label>
        </div>
    </div>
</div>

@* <ejs-maps id="maps">
    <e-maps-layers>
        <e-maps-layer layerType="Bing" bingMapType="AerialWithLabel" key="@Model.BingKey"></e-maps-layer>
    </e-maps-layers>
</ejs-maps> *@